@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background: url(./imagens/junk-mail.jpg);
    background-color: #0f0f0f;
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color:#0a0a0a;
}

.titulo-pag {
    background-color: #00ff15;
    display: block;
    padding: 5px 20px;
    color: #181818;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    margin: 20px -20px 10px -20px;
    text-align: center;
    font-size: 30px;
}

.descricao {
    color: #aaaaaa;
    padding: 0 0 10px 0;
    font-size: 15px;
    text-align: center;
}

.subtitulo {
    color: #aaaaaa;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 20px 0 20px 0;
}

#conteudo, #cabeca{
    background-color: #0f0f0f;
    margin: 10px auto;
    width: 500px;
    padding: 0px 20px;
}

#rodape {
    width: 500px;
    padding: 20px;
    background-color: #bebebe;
    margin: 10px auto;
}

.rodape-txt {
    color: #0a0a0a;
    font-family: 'VT323', monospace;
    text-align: right;
    text-decoration: underline #8f8f8f;
}

.campo {
    width: 500px;
    height: 100px;
    padding: 15px;
    border: none;
    background-color: #121212;
    color: #f1f1f1;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
}

.codifica {
    background: #09ff00ec;
    border: none;
    color: #161616;
    font-size: 13px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
}

.decodifica {
    background: #cececeec;
    border: none;
    color: #161616;
    font-size: 13px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    float: right;
}

.resultado {
    background: #0a0a0a;
    padding: 20px;
    width: 500px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    color: #ccc;
    resize: vertical;
}

.copiar {
    background: #00ff0d;
    border: none;
    color: #0f0f0f;
    font-size: 13px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
}

.copiado{
    color: #f50303;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bolder;
}

@media screen and (max-width: 480px) {
    #conteudo, #cabeca, #rodape {
        width: 85%;
    }

    .campo, .resultado {
        width: 100%;
        background: #0a0a0a;
        font-size: 15px;
        border: 1px solid #00ff0d;
    }
}